body {
  background-color: black;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.hidden {
  display: none !important;
}

#clock {
  justify-content: center;
  color: white;
  font-size: 5em;
  margin: auto;
}

a#start {
  color: white;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  padding: 1.1em 2.5em;
  margin: 0;
  line-height: 1em;
  transition: all 0.2s;
  letter-spacing: 0.05em;
  border: 2px solid white;
  border-radius: 2em;
}
a#start:hover {
  /* 15% white */
  background: rgba(255,255,255,.15);
}

#overlay {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* TODO: danger will robinson, what if other elements use z-index? */
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#gif {
  max-width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type=number] {
  width: 50px;
  margin: 0 auto;
}

/* Credit to https://github.com/daneden/animate.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: ease-in-out;
}
